# This playbook customizes the motd file all Fedora hosts.
#
# Copyright (c) 2013 Fabian Affolter <fabian@affolter-engineering.ch>
#
# Licensed under CC BY 3.0. All rights reserved.
#
---
- name: put a default motd file in place
  template: src=files/motd.j2
            dest=/etc/motd
            owner=root
            group=root
            mode=0644
