# Scientific Linux
label install-sl
menu label Scientific Linux installation
kernel sl/vmlinuz
append initrd=sl/initrd.img repo=ftp://ftp-stud.hs-esslingen.de/pub/Mirrors/scientific/6rolling/x86_64/os/
