# /etc/system_identification
# Created and distributed by Ansible at {{ ansible_date_time.date }}, {{ ansible_date_time.time }}.
# 
Security Category: add category
Primary Contact: add contact
Environment: Production
Purpose: Provide web services
Relationship: None

This file is provided as part of the Infrastructure standards of your company.

