<?php
	/* Name of the database server */
	$server = 'localhost';

	/* Username for database server */
	$user = 'root';

	/* Password for $user */
	$password = '{{ mysql_root_password }}';

	/* Name of the database with the tables */
	$dbname = 'virt-control';

	/* Prefix of tables for php-virt-control */
	$prefix = 'vmc_';
?>
